<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <div class="banner">
  <div class="navbar">
    <img src="/images/logot.png" alt="Logo">
    <ul>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="information.html">Information</a></li>
      <li><a href="index.html">Home</a></li>
    </ul>
  </div>
    <div class="content">
      <h1 class="H">About Us:</h1>
      <p class="secP"><mark>  </mark>
      <br></br> We are high school programmers from MEET- an innovation programm that brings together Israelies and Palestinians.<br></br> We ourselves deal with peer pressure in our lives almost daily and see it as an urgent issue among teenagers like us and decided to make our website to help people who deal with peer pressure and lack support and advice.  </p>

<button class="buttons" onclick="location.href='/minor'"><span></span>minor</button>
<button class="buttons" onclick="location.href='/adult'"><span></span>adult</button>
<button class="buttons" onclick="location.href='/form'"><span></span>form</button>
      </div>


</body>

</html>
