<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="banner">
  <div class="navbar">
    <img src="/images/logot.png" alt="Logo">
    <ul>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="information.html">Information</a></li>
      <li><a href="index.html">Home</a></li>
    </ul>
  </div>
    <div class="content">
      <h1 class = "H">Our Advice For You:</h1>
      <p class="secP"> <b>"My self-worth is not defined by the choices of others."</b> Remember that you are in control of your own actions and decisions, and that you are valuable and worthy regardless of what others may think or say.<br></br>

<b>"I am strong enough to resist peer pressure."</b> Believe in yourself and your ability to make the right choices for yourself. Trust yourself and be confident in your abilities.<br></br>

<b>"I will not compromise my values for the sake of fitting in."</b> Stand up for what you believe in, and don't let peer pressure sway you away from your own values and principles.<br></br>

<b>"I am surrounded by people who support and encourage me."</b> Surround yourself with positive influences and people who will uplift you and help you make the right choices<br></br>

<b>"I am not alone in this struggle."</b> Remember that many people face peer pressure, and that it is a normal part of growing up. Remember that there is always help available if you need it, and you are not alone in your journey.
      
      </p>

<button class="buttons" onclick="location.href='/form'"><span></span>form</button>
    </div>
     
      </div>


</body>

</html>