<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <div class="banner">
  <div class="navbar">
    <img src="/images/logot.png" alt="Logo">
    <ul>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="information.html">Information</a></li>
      <li><a href="index.html">Home</a></li>
    </ul>
  </div>
    <div class="content">
      <h1 class = "H">Family:</h1>
<!--       <br><br><br><br> -->
      <p class="secP"> As adults, we often think that we've left peer pressure behind in our teenage years. However, peer pressure can still exist in our relationships with our parents. It can be difficult to navigate when our parents want us to make certain choices that may not align with our own goals and values.<br></br>

<mark>Here are a few tips on how to deal with peer pressure from your parents as an adult:</mark><br></br>

<mark>Communicate openly and honestly:</mark> Have an open and honest conversation with your parents about your goals and values. Explain your reasoning behind your choices, and try to understand where they're coming from.<br></br>

<mark>Set boundaries:</mark> It's important to set boundaries with your parents and communicate your expectations. Let them know what you're comfortable with and what you're not.<br></br>

<mark>Take responsibility for your choices:</mark> As an adult, you are responsible for your own choices. Remember that you are capable of making decisions for yourself and that you will have to live with the consequences of those choices.<br></br>

<mark>Seek support:</mark> If you're struggling to deal with peer pressure from your parents, seek support from friends or a therapist. They can provide a sounding board and help you work through your thoughts and feelings.<br></br>

<mark>Be respectful:</mark> Remember that your parents love you and want what's best for you. Even if you disagree with them, try to be respectful of their opinions and perspective.<br></br>

It's important to remember that you don't have to give in to peer pressure from your parents. You are an adult and you have the right to make your own choices. It's important to be true to yourself and stand up for what you believe in.
        <br></br>
        <button class="buttons" onclick="location.href='/minor'"><span></span>minor</button>
        <button class="buttons" onclick="location.href='/adult'"><span></span>adult</button>
      </p>

 
    </div>
     
      </div>


</body>

</html>