<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="banner">
  <div class="navbar">
  <img src="/images/logot.png" alt="Logo">
    <ul>
      <li ><a href="aboutus.html">About Us</a></li>
      <li><a href="information.html">Information</a></li>
      <li><a href="index.html">Home</a></li>
    </ul>
  </div>
    <div class="content">
      <h1>Welcome to "Under Pressure"!</h1>
      <p class= "Firstp">How To Deal With Peer Pressure<br></br> Before you start, please fill out the form, it will help us to give you the best help &#128512;    </p>
      <div>
        

      <button class="buttons" onclick="location.href='/form'"><span></span>Fill the form</button>
    
     
        

    </div>
    
  </div>
  </div>

</body>
</html>
