<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  
</head>
<body>
  <div class="banner">
  <div class="navbar">
    <img src="/images/logot.png" alt="Logo">
    <ul>
      <li><a href="aboutus">About Us</a></li>
      <li><a href="information">Information</a></li>
      <li><a href="home">Home</a></li>
    </ul>
  </div>
    <div class="content">
      <h1 id = "Hinfo">Information:</h1>
      <p class="secP"> <mark>Peer pressure can be a powerful force</mark>, both positive and negative. It can motivate us to try new things and strive for success, but it can also lead us to make poor decisions and compromise our values. <br></br>

One of the most important things to remember when facing peer pressure is to <mark>trust your instincts and stand up for what you believe in.</mark> It can be difficult to go against the crowd, but it's important to remember that you are in control of your own actions and decisions. <br></br>
It's also important to surround yourself with positive influences who support and encourage you to make healthy choices. Surrounding yourself with friends who share your values and respect your boundaries can help you to stay true to yourself when faced with peer pressure.<br></br>

Ultimately, it's important to remember that true friends will respect and support you no matter what, and that it's okay to say no when you're not comfortable with something.  Don't let the pressure of others control your actions and decisions. Stand up for yourself and your beliefs. <br></br>
<mark>Peer pressure can be a difficult thing to navigate</mark>, but it's important to remember that you have the right to make your own choices and to stand up for yourself.Here are a few tips for dealing with peer pressure:<br></br>

<mark>Know yourself and what you believe in.</mark> When you are confident in your own values and beliefs, it's easier to stand up for yourself and resist pressure from others.<br></br>

<mark>Learn to say "no"</mark> ,It's important to be able to speak up for yourself and to assert your own boundaries. Saying "no" can be difficult, but it's an important skill to have.<br></br>

</p>

<button class="buttons" onclick="location.href='/minor'"><span></span>minor</button>
      

<button class="buttons" onclick="location.href='/adult'"><span></span>adult</button>
      
<button class="buttons" onclick="location.href='/form'"><span></span>form</button>
      
     
      </div>


</body>

</html>







