<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
</head>
<style>
  body {
    background-image: url(/images/pexels-gradienta-7130505.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style>
<body>
<div class="banner">
  <div class="navbar">
    <img src="/images/logot.png" alt="Logo">
    <ul>
      <li ><a href="aboutus.html">About Us</a></li>
      <li><a href="information.html">Information</a></li>
      <li><a href="index.html">Home</a></li>
    </ul>
  </div>
    <div class="content">
      <h1>Welcome to the minor page!</h1>
      <p class= "Firstp">Many of us have to deal with peer pressure, However, most of us don't know how,<br></br> here you can find a solution to this problem,<br></br>  if you are facing peer pressure at school, or maybe you want to help to a member of your family deal with peer pressure, <br></br> then you found the right place "Under Pressure" is here to help you and to give you all the tools you need to handle this situation in the best way as possible. <br></br>(you can find more information about peer pressure and about "name" in the options above). <br></br> <b>please choose one of the categories below:</b>  </p>
      <div>

      
<!--   <button typed="button" onclick="home()">
    <span></span>Home</button>
 -->

  <button class="buttons" onclick="location.href='/family'"><span></span>family</button>
 
  <button class="buttons" onclick="location.href='/school'"><span></span>school</button>
<!--  <button typed="button" onclick="information()">
    <span></span>information</button> -->

      </div>
    </div>
    </div>




</body>



</html>


















