<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <div class="banner">
  <div class="navbar">
    <img src="/images/logot.png" alt="Logo">
    <ul>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="information.html">Information</a></li>
      <li><a href="index.html">Home</a></li>
    </ul>
  </div>
    <div class="content">
      <h1 class = "H">Work:</h1>
      <p class="secP">You can manage peer pressure at work by <mark>being upfront with your peers</mark> as to how you feel about the pressure they are placing on you and to not be afraid to stand up and say no. <br></br> <mark>Be determined to let other people know at work that you are capable of making your own decisions.</mark> Also, ask them that.<br></br>
It's also important to <mark>not flare up the flames at work.</mark> Once you have made your commitment to not giving in, be respectful and kind.<br></br> Show appreciation for their views and acknowledge them, but make it clear that you cannot follow or agree with certain things they believe in. 
<br></br>
<mark>For example:</mark> your peers may pressure you to follow a certain sporting team or come with them to Friday night drinks. Be upfront and frank with them as to what you decide to do.<br></br> Avoid umming and arring. Make it clear from the start. 

 </p>

  <button class="buttons" onclick="location.href='/adult'"><span></span>adult</button>
    </div>
     
      </div>


</body>

</html>

